/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid red;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/***************************GENERAL RULES***************************/

.BodyRulesIndex {
  height: 100%;
  background-image: url("../img/test1.jpeg");
  background-size: cover;
  font-family: 'Trade Winds', cursive;
}

footer a:hover {
  color: red;
}

a:focus
{
outline:0;
}

a {
  text-decoration: none;
  color: white;
}

.Cercle {
  height: 10em;
  width: 10em;
  background-color: rgba(0,0,0,0.8);
}

.Cercle:hover {
  background-color: rgba(255,255,255,0.2);
}

/*********************OTHER PAGES***************/
.MainOtherPages {
  margin-top: 4em;
}

.MainContact {

}
.NavigationFixed {
  border-bottom: 1px solid white;
  width: 100%;
  height: 3em;
  position: fixed;
  top: 0px;
}

.RedirectionWidthNavigation a {
  width: 50%;
}

/*********************OTHER PAGES***************/

/***************************GENERAL RULES***************************/

/***************************COLORS CLASS***************************/
.white {
  color: white;
}

.black {
  color: black;
}

.red {
  color: red;
}

.backred {
  background-color: red;
}

.backgreen {
  background-color: green;
}

.backblue {
  background-color: blue;
}

.backyellow {
  background-color: yellow
}

.backOpacityBlack {
  background-color: rgba(0,0,0,0.5);
}
/***************************COLORS CLASS***************************/

/***************************UTILITIES CLASS***************************/
.flex {
  display: flex;
}

.none {
  display: none;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justifyCenter {
  justify-content: center;
}

.alignContent {
  align-content: center;
}

.alignItemCenter {
  align-items: center;
}

.spaceAround {
  justify-content: space-around;
}

.spaceBetween {
  justify-content: space-between;
}

.spaceAroundC {
  align-content: space-around;
}

.spaceBetweenC {
  align-content: space-between;
}

.textAlignC {
  text-align: center;
}

.marginAuto {
  margin:  0 auto;
}

.styleLien {
  padding: 1em;
  border: 1px solid red;
  border-radius: 200%;
}

.stylePortrait {
  border-radius: 200%;
  border: 4px solid red;
  height: 10em;
  width: 9em;
}

.padding {
  padding: 1em;
}

.margin {
  margin: 1em;
}

.marginT {
  margin-top: 1em;
}

.marginL {
  margin-left: 1em;
}

.styleButton {
  border: 1px solid red;
  padding: 1em;
  width: 10em;
}

.borderT {
  border-top: 1px solid red;
}

.Copy {
  width: 30em;
}

.indexO {
  z-index: 0
}

.indexFirst {
  z-index: 1;
}

.indexFull {
  z-index: 9999;
}

.absolute {
  position: absolute;
  opacity: 0.3;
}

.hoverUnderline a:hover {
  text-decoration: underline;
}

.hoverColorRed a:hover {
  color: red;
}

.hoverIconeColorRed i:hover{
  color:red
}

.ZoneClickCircularOption a {
  height: 100%;
  width: 100%;
  border-radius: 200%;
}

.ListStyleNone li{
  list-style-type: none;
}

.underline {
  text-decoration: underline;
}

.Fullwidth {
  width: 100%;
}

/***************************UTILITIES CLASS***************************/

/**********************************************************************/
/***************************|START INDEX.HTML|***************************/
/**********************************************************************/

/************MAIN**********/
.Navigation {
  width: 10em;
  margin: 1em 0;
}

/************MAIN**********/

/************FOOTER**********/
.Copy {
  border-top: 1px solid red;
  width: 80%;
}
/************FOOTER**********/

/**********************************************************************/
/***************************|END INDEX.HTML|***************************/
/**********************************************************************/


/**********************************************************************/
/***************************|START PROFIL.HTML|***************************/
/**********************************************************************/

/************HEADER**********/
/************HEADER**********/

/************MAIN**********/

.SectionProfil {
  width: 100%;
}
.ArticlePageProfil {
  height: 30em;
}

.ArticlePageCompetence {
 height: 50em;
}

.Biographies {
  overflow: hidden;
}

.Objectifs {
  width: 100%;
}

.HTML, .CSS, .PHP {
  width: 10em;
}
/************MAIN**********/

/************FOOTER**********/

/************FOOTER**********/

/**********************************************************************/
/***************************|END PROFIL.HTML|***************************/
/**********************************************************************/

/**********************************************************************/
/***************************|START RÉALISATIONS.HTML|***************************/
/**********************************************************************/

/************HEADER**********/
/************HEADER**********/

/************MAIN**********/
/************MAIN**********/

/************FOOTER**********/
/************FOOTER**********/

/**********************************************************************/
/***************************|END RÉALISATIONS.HTML|***************************/
/**********************************************************************/

/**********************************************************************/
/***************************|START CONTACT.HTML|***************************/
/**********************************************************************/

/************HEADER**********/
.NavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.Home {
  display: none;
}
/************HEADER**********/

/************MAIN**********/
/************MAIN**********/

/************FOOTER**********/
/************FOOTER**********/

/**********************************************************************/
/***************************|END CONTACT.HTML|***************************/
/**********************************************************************/

/***************************====START TOUCHPAD====***************************/
@media screen and (min-width: 500px) {

/***************************START MEDIA QUERY INDEX.HTML**************************/

/************HEADER**********/
/************HEADER**********/
/************MAIN**********/
.Navigation {
  width: 30em;
  flex-direction: row;
  flex-wrap: wrap;
}

/***************************END MEDIA QUERY INDEX.HTML**************************/

/***************************START MEDIA QUERY PROFIL.HTML**************************/
/************HEADER**********/
/************HEADER**********/
/************MAIN**********/

.ArticlePageCompetence {
  height: 30em;
  width: 30em;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.ArticlePageProfil {
  flex-direction: row;
  flex-wrap: wrap;
}

.Objectifs {
  width: 20em;
}
/************MAIN**********/
/************FOOTER**********/
/************FOOTER**********/
/***************************END MEDIA QUERY PROFIL.HTML**************************/

/***************************START MEDIA QUERY RÉALISATIONS.HTML**************************/
/***************************END MEDIA QUERY RÉALISATIONS.HTML**************************/

/***************************START MEDIA QUERY CONTACT.HTML**************************/

/***************************END MEDIA QUERY CONTACT.HTML**************************/
}
/***************************====END TOUCHPAD====***************************/

/***************************====START DESKTOP====***************************/
@media screen and (min-width: 992px) {

/***************************START MEDIA QUERY INDEX.HTML**************************/

/************MAIN**********/
.Navigation {
  width: 100em;
  flex-direction: row;
  flex-wrap: nowrap;
}
/************MAIN**********/

/************FOOTER**********/
footer {
  height: 13.8em;
}
/************FOOTER**********/

/***************************END MEDIA QUERY INDEX.HTML**************************/

/***************************START MEDIA QUERY PROFIL.HTML**************************/

/************HEADER**********/

/************HEADER**********/

/************MAIN**********/

.BlockInformations {
  width: 40em;
}

.ArticlePageCompetence {
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.ArticlePageProfil {
  flex-direction: row;
}

.stylePortrait {
  height: 20em;
  width: 20em;
}

.ImageBlock {
  width: 30%;
}

.Biographies {
  width: 40em;
}
/************MAIN**********/

/***************************END MEDIA QUERY PROFIL.HTML**************************/

/***************************START MEDIA QUERY RÉALISATIONS.HTML**************************/
/***************************END MEDIA QUERY RÉALISATIONS.HTML**************************/

/***************************START MEDIA QUERY CONTACT.HTML**************************/

.NavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: transparent;
}

.AsideContact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.NavIconeContact {
  display: flex;
}

.NavButtonContact{
  display: none;
}

/***************************END MEDIA QUERY CONTACT.HTML**************************/

}
/***************************====END DESKTOP====***************************/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
